
{% extends 'admin_base.html'%}
{% load static %}
{% block content%}
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include 'admin_header.html'%}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="fas fa-fill-drip"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close fa fa-times"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div>Light
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles primary"></div>
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      {% include 'chat.html'%}
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      {% include 'admin_sidebar.html'%}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              Dashboard
            </h3>
          </div>
          <div class="page-header">
            <h3 class="page-title">
              Welcome to Traditional Stuffs
            </h3>
          </div>
          <div class="row grid-margin">
            <div class="col-12">
              <div class="row">
                <div class="card card-statistics">
                <div class="card-body">
                  {% if not request.user.is_superuser %}
                  <a class="nav-link" href="{% url 'add_product'%}"><h2>Add Product</h2> </a>
                  {%endif%}
                </div>
              </div>
              <div class="card card-statistics">
                <div class="card-body">
                  <a class="nav-link" href="{% url 'view_product'%}"><h2>View Product</h2></a>
                </div>
              </div>
              {% if request.user.is_superuser  %}
              <div class="card card-statistics">
                <div class="card-body">
                  <a class="nav-link" href="{% url 'view_user'%}"> View Users </a>
                </div>
              </div>
              {% endif %}
              <div class="card card-statistics">
                <div class="card-body">
                  <a class="nav-link" href="{% url 'orders'%}">
                    <h2>Orders</h2>
        </a>
                </div>
              </div>
              </div>
            </div>
          </div>
       
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  {% include 'admin_script.html'%}



</body>

{%endblock%}