{% load static %}

 <script src="{% static 'admin/vendors/js/vendor.bundle.base.js'%}"></script>
 <script src="{% static 'admin/vendors/js/vendor.bundle.addons.js'%}"></script>
 <script src="{% static 'admin/js/off-canvas.js'%}"></script>
 <script src="{% static 'admin/js/hoverable-collapse.js'%}"></script>
 <script src="{% static 'admin/js/misc.js'%}"></script>
 <script src="{% static 'admin/js/settings.js'%}"></script>
 <script src="{% static 'admin/js/todolist.js'%}"></script>
 <script src="{% static 'admin/js/dashboard.js'%}"></script>
