{% load static %}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content=" " />
    <!-- Title -->
    <title>Traditional Stuffs</title>
    <!-- Favicon  -->
    <link rel="shortcut icon" href="{% static 'website/images/fevicon.png' %}" />
    <link rel="stylesheet" href="{% static 'website/css/plugins.css' %}" />
    <link rel="stylesheet" href="{% static 'website/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'website/css/responsive.css' %}" />
</head>

{% block content%}
{% endblock %}



</html>