{% extends 'base.html'%}
{% load static %}
{% block content%}

<body class="template-cart cart-page">
    <!-- Start Page Loader -->
    <div class="page-loading"></div>
    <!-- End Page Loader -->

    <!--  Start Main Wrapper -->
    <div class="main-wrapper cart-drawer-push">
        <!-- Start Header Section -->
        {% include 'header.html'%}
        <!-- End Header Section -->

        <!-- Start Main Content -->
        <main class="main-content">
            <!-- Start Breadcrumb -->
            <div class="breadcrumbs text-center">
                <div class="container">
                    <h1>Shopping Cart</h1>
                </div>
            </div>
            <!-- End Breadcrumb -->

            <!-- Start cart Content Inner -->
            <div class="cart-content-inner">
                <div class="container">
                    <div class="row">
                        <!-- Start Cart Details -->
                        <div class="cart-view-table col-12 col-sm-12 col-lg-9 sidebar-left">
                            <!-- Start Cart Order Notification -->
                            <div
                                class="cart-notification d-flex align-items-center alert alert-success alert-dismissible">
                                <i class="ti-check mr-2"></i>
                                Congratulations! You've got free shipping!
                                <a class="close" data-dismiss="alert"><i class="ti-close"></i></a>
                            </div>
                            <!-- End Cart Order Notification -->

                            <!-- Start Cart Table -->
                            <div class="table-content table-responsive">
                                <table class="table table-bordered border-0 table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Image</th>
                                            <th class="text-center text-sm-left">Product Name</th>
                                            <th class="text-center">Price</th>
                                            <th class="text-center">Qty</th>
                                            <th class="text-center">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="pro-img text-center"><a href="product-details.html"><img
                                                        class="img-fluid blur-up lazyload"
                                                        src="assets/images/products/product-100x100.jpg"
                                                        data-src="assets/images/products/product-100x100.jpg"
                                                        alt="image" title="image" width="100" /></a></td>
                                            <td class="pro-del text-center text-sm-left">
                                                <p class="mb-1 pro-name"><a href="product-details.html">Donec pede justo
                                                        fringilla</a></p>
                                                <p class="mb-1">Size: Small</p>
                                                <p class="mb-1">Color: Black</p>
                                            </td>
                                            <td class="pro-price text-center">376.00</td>
                                            <td class="pro-qty text-center">
                                                <div class="qty-box">
                                                    <button type="button" class="qtyminus button" value=""><i
                                                            class="fa fa-minus"></i></button>
                                                    <input type="text" name='quantity' value='1' class="qty-input" />
                                                    <button type="button" class="qtyplus button" value=""><i
                                                            class="fa fa-plus"></i></button>
                                                </div>
                                                <a class="qty-remove ml-3" href="#"><i class="ti-close"></i></a>
                                            </td>
                                            <td class="pro-total text-center">376.00</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- End Cart Table -->
                            <!-- Start Cart Action Button -->
                            <div class="cart-table-action clearfix">
                                <a href="#" class="btn btn-secondary pull-left">Update Cart</a>
                                <a href="#" class="btn btn-secondary pull-right">Continue Shopping</a>
                            </div>
                            <!-- End Cart Action Button -->
                            
                        </div>
                        <!-- End Cart Details -->

                        <!-- Start Cart Sidebar -->
                        <div class="cart-view-summary col-12 col-sm-12 col-lg-3 sidebar sidebar-right">
                            <form action="#" class="checkout-form needs-validation" novalidate>
                                <!-- Start Cart Note -->
                                <div class="cart-note">
                                    <div class="form-group">
                                        <label for="cart-note">Add a note to your order</label>
                                        <textarea class="form-control" id="cart-note" rows="4" required></textarea>
                                    </div>
                                </div>
                                <!-- End Cart Note -->
                                <!-- Start Cart Order Summary -->
                                <div class="cart-order-summary">
                                    <h3 class="order-summary-title">Order Summary</h3>
                                </div>
                                <!-- End Cart Order Summary -->
                                <!-- Start Cart Sub Total -->
                                <div class="cart-subtotal clearfix">
                                    <p class="subtle-title m-0 pull-left text-uppercase">Subtotal</p>
                                    <p class="sabtotal m-0 pull-right">1206.80</p>
                                </div>
                                <!-- End Cart Sub Total -->
                                <!-- Start Cart Checkout Button -->
                                <div class="cart-checkout">
                                    <a class="btn btn-primary btn-block font-sm-14" href="checkout.html">Proceed to checkout</a>
                                    <!-- <button type="submit" class="btn btn-primary btn-block">Proceed to checkout</button> -->
                                </div>
                                <!-- End Cart Checkout Button -->
                            </form>
                            <!-- Start Checkout Card -->
                            <div class="checkout-card">
                                <div class="ssl-safe clearfix mb-3">
                                    <img class="img-fluid blur-up lazyload float-left"
                                        src="assets/images/others/ssl-certificate.png" alt="image"
                                        title="Secure SSL certificate" />
                                    <img class="img-fluid blur-up lazyload float-left"
                                        src="assets/images/others/safe-checkout.png" alt="image"
                                        title="Granted safe checkout" />
                                </div>
                                <img class="img-fluid blur-up lazyload" src="assets/images/icons/checkout-card.png"
                                    alt="image" title="Checkout Card" />
                            </div>
                            <!-- End Checkout Card -->
                        </div>
                        <!-- End Cart Sidebar -->
                    </div>
                </div>
            </div>
            <!-- End cart Content Inner -->
        </main>
        <!-- End Main Content -->

        <!-- Start Footer Section -->
        {% include 'footer.html'%}
        <!-- End Footer Section -->

        <!-- Start Scroll Top -->
        <div id="scrollTop"><i class="ti-arrow-up"></i></div>
        <!-- End Scroll Top -->

        <!-- Start Search Drawer -->
        <div class="search-area modal fade top" id="searchform" tabindex="-1" role="dialog" aria-hidden="true"
            data-backdrop="true">
            <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
                <div class="container">
                    <div class="modal-content search-inline align-content-center">
                        <div class="search-head position-relative">
                            <h3>What are you looking for?</h3>
                            <a class="search-close" data-dismiss="modal" aria-label="Close">
                                <i class="ti-close" aria-hidden="true"></i>
                            </a>
                        </div>
                        <form action="#" class="position-relative">
                            <input type="text" class="form-control" placeholder="Search Products..." />
                            <button class="search-btn" type="submit">
                                <i class="ti-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Search Drawer -->

        <!-- Start Cart Drawer -->
        <div class="minicart-wrapper">
            <div class="cart-drawer model fade right show cart-drawer-right">
                <div class="minicart-head">
                    <h3>Shopping Cart</h3>
                    <a class="close-btn active">
                        <i class="ti-close"></i>
                    </a>
                </div>
                <div class="minicart-details">
                    <div class="empty-cart">
                        <p>You have no items in your shopping cart.</p>
                    </div>
                    <ul class="cart-lists clearfix">
                        <li class="cart-item d-table">
                            <div class="pro-img d-table-cell align-middle">
                                <a href="product-details.html">
                                    <img class="img-fluid blur-up lazyload"
                                        src="assets/images/products/cart-pro-76x76.jpg"
                                        data-src="assets/images/products/cart-pro-76x76.jpg" alt="image"
                                        title="Donec pede justo fringilla" />
                                </a>
                            </div>
                            <div class="item-info pl-4 text-left d-table-cell align-top">
                                <a href="product-details.html">Donec pede justo fringilla</a>
                                <p class="size-color">Sliver Black/XXL</p>
                                <p class="price">1 x 699.00</p>
                            </div>
                            <div class="item-right cart-remove d-table-cell align-middle">
                                <a class="edit mr-2" href="#"><i class="ti-pencil-alt"></i></a>
                                <a class="remove" href="#"><i class="ti-close"></i></a>
                            </div>
                        </li>
                        <li class="cart-item d-table">
                            <div class="pro-img d-table-cell align-middle">
                                <a href="product-details.html">
                                    <img class="img-fluid blur-up lazyload"
                                        src="assets/images/products/cart-pro-76x76.jpg"
                                        data-src="assets/images/products/cart-pro-76x76.jpg" alt="image"
                                        title="Sociosqu facilisi senectus nisi etiam" />
                                </a>
                            </div>
                            <div class="item-info pl-4 text-left float-left d-table-cell align-top">
                                <a href="#">Sociosqu facilisi senectus nisi</a>
                                <p class="size-color">Red/XL</p>
                                <p class="price">1 x 299.00</p>
                            </div>
                            <div class="item-right cart-remove d-table-cell align-middle">
                                <a class="edit mr-2" href="#"><i class="ti-pencil-alt"></i></a>
                                <a class="remove" href="#"><i class="ti-close"></i></a>
                            </div>
                        </li>
                        <li class="cart-item d-table">
                            <div class="pro-img d-table-cell align-middle">
                                <a href="product-details.html">
                                    <img class="img-fluid blur-up lazyload"
                                        src="assets/images/products/cart-pro-76x76.jpg"
                                        data-src="assets/images/products/cart-pro-76x76.jpg" alt="image"
                                        title="Nullam scelerisque suscipit sociis" />
                                </a>
                            </div>
                            <div class="item-info pl-4 text-left d-table-cell align-top">
                                <a href="product-details.html">Nullam scelerisque suscipit</a>
                                <p class="size-color">Silver/L</p>
                                <p class="price">1 x 239.00</p>
                            </div>
                            <div class="item-right cart-remove d-table-cell align-middle">
                                <a class="edit mr-2" href="#"><i class="ti-pencil-alt"></i></a>
                                <a class="remove" href="#"><i class="ti-close"></i></a>
                            </div>
                        </li>
                        <li class="cart-item d-table">
                            <div class="pro-img d-table-cell align-middle">
                                <a href="product-details.html">
                                    <img class="img-fluid blur-up lazyload"
                                        src="assets/images/products/cart-pro-76x76.jpg"
                                        data-src="assets/images/products/cart-pro-76x76.jpg" alt="image"
                                        title="Pellentesque habitant morbi" />
                                </a>
                            </div>
                            <div class="item-info pl-4 text-left d-table-cell align-top">
                                <a href="product-details.html">Pellentesque habitant morbi</a>
                                <p class="size-color">Black/M</p>
                                <p class="price">1 x 119.00</p>
                            </div>
                            <div class="item-right cart-remove d-table-cell align-middle">
                                <a class="edit mr-2" href="#"><i class="ti-pencil-alt"></i></a>
                                <a class="remove" href="#"><i class="ti-close"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="minicart-bottom-actions">
                    <div class="pro-totals d-inline-block w-100">
                        <div class="items mb-1 clearfix">
                            <span class="item subtotal float-left">Subtotal:</span>
                            <span class="price-total float-right"><span class="price">1356.00</span></span>
                        </div>
                        <div class="items mb-1 clearfix">
                            <span class="item shipping float-left">Shipping:</span>
                            <span class="price-total float-right"><span class="price">10.00</span></span>
                        </div>
                        <div class="items mb-1 clearfix">
                            <span class="item tax float-left">Tax:</span>
                            <span class="price-total float-right"><span class="price">0.00</span></span>
                        </div>
                        <div class="items clearfix">
                            <span class="item total float-left">Total:</span>
                            <span class="price-total float-right"><span class="price">1366.00</span></span>
                        </div>
                    </div>
                    <div class="actions d-inline-block w-100 text-center">
                        <a class="btn btn-primary d-block mb-4 font-sm-14" href="cart.html">View Cart</a>
                        <a class="btn btn-secondary d-block font-sm-14" href="checkout.html">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Cart Drawer -->

        <!-- Overlay -->
        <div class="overlay"></div>

    </div>
    <!--  End Main Wrapper -->

    {% include 'script.html'%}

</body>
    {% endblock%}