{% extends 'base.html'%}
{% load static %}
{% block content%}

<body class="template-checkout-success">

    <!--  Start Main Wrapper -->
    <div class="main-wrapper cart-drawer-push">
        <!-- Start Header Section -->
        {% include 'header.html'%}
        <!-- End Header Section -->

        <!-- Start Main Content -->
        <main class="main-content">
            <!-- Start Checkout Success -->
            <div class="checkout-success-content">
                <div class="container">

                    <div class="row row-sp">
                        <div class="col-sp col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="checkout-success-banner">
                                <img class="img-fluid" src="{% static 'website/images/others/checkout-success-banner.jpg'%}"
                                    alt="Checkout Success Banner" title="Checkout Success Banner" />
                            </div>
                        </div>
                    </div>

                    <div class="row row-sp">
                        <div class="col-sp col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="card border-0 rounded-0">
                                <div class="card-body">
                                    <p class="checkout-success-icon"><i class="fa fa-check-square-o"></i></p>
                                    <h4 class="card-title">Thank you for your purchase!</h4>
                                    <p class="card-text mb-1">Your order # is: <b>10000034</b>.</p>
                                    <p class="card-text mb-1">You will receive an order confirmation email with details
                                        of your order and a link to track its progress.</p>
                                    <p class="card-text mb-1">All necessary information about the delivery, we sent to
                                        your email</p>
                                    <a href="{% url 'index'%}" class="btn btn-primary mt-4">Continue Shopping</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sp col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="checkout-item-ordered">
                                <h2>Item Ordered</h2>
                                <div class="table-content table-responsive checkout-review mb-4">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center"></th>
                                                <th class="text-left">Product Name</th>
                                                <th class="text-center">Qty</th>
                                                <th class="text-center">Price</th>
                                                <th class="text-center">Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{carts}}
                                            {% for c in carts %}
                                            <tr>
                                                <td class="pro-img text-center"><a href="#"><img
                                                            class="img-fluid blur-up lazyload"
                                                            src="{{c.Image}}"
                                                            data-src="{{c.Image}}"
                                                            alt="image" title="image" width="100"></a></td>
                                                <td class="pro-name text-center text-sm-left">
                                                    <p class="mb-1"><a href="#">{{c.name}}</a></p>
                                                </td>
                                                <td class="pro-price text-center">{{c.quantity}}</td>
                                                <td class="pro-price text-center">{{c.price}}</td>
                                                <td class="pro-total text-center">{{c.total_price}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot class="text-right">
                                            <tr>
                                                <td colspan="4" class="item subtotal">Subtotal:</td>
                                                <td class="last">{{sub_total}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="item tax">Tax:</td>
                                                <td class="last">00.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="item discount">Discount:</td>
                                                <td class="last">0.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="item shipping">Shipping:</td>
                                                <td class="last">00.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="item total">Grand Total:</td>
                                                <td class="last">{{sub_total}}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                                <div class="ship-info-details shipping-method-details">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="shipping-details mb-4 mb-sm-0 clearfix">
                                                <h3>Shipping Address</h3>
                                                <p>No 40 Baria Street 133/2,</p>
                                                <p>New York,</p>
                                                <p>USA</p>
                                                <p>00004-1988</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="billing-details clearfix">
                                                <h3>Shipping Method</h3>
                                                <p>Flat Rate - Fixed</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ship-info-details billing-payment-details">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="shipping-details mb-4 mb-sm-0 clearfix">
                                                <h3>Billing Address</h3>
                                                <p>No 40 Baria Street 133/2,</p>
                                                <p>New York,</p>
                                                <p>USA</p>
                                                <p>00004-1988</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="billing-details clearfix">
                                                <h3>Payment Method</h3>
                                                <p>Check / Money order</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="delivery-date"><strong>Delivery Date:</strong> N/A</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Checkout Success -->
        </main>
        <!-- End Main Content -->

        <!-- Start Footer Section -->
        {% include 'footer.html'%}
        <!-- End Footer Section -->

        <!-- Start Scroll Top -->
        <div id="scrollTop"><i class="ti-arrow-up"></i></div>
        <!-- End Scroll Top -->

        <!-- Start Cart Drawer -->
        <div class="minicart-wrapper">
            <div class="cart-drawer model fade right show cart-drawer-right">
                <div class="minicart-head">
                    <h3>Shopping Cart</h3>
                    <a class="close-btn active">
                        <i class="ti-close"></i>
                    </a>
                </div>
                <div class="minicart-details">
                    <div class="empty-cart">
                        <p>You have no items in your shopping cart.</p>
                    </div>
                    <ul class="cart-lists clearfix">
                        <li class="cart-item d-table">
                            <div class="pro-img d-table-cell align-middle">
                                <a href="product-details.html">
                                    <img class="img-fluid blur-up lazyload"
                                        src="assets/images/products/cart-pro-76x76.jpg"
                                        data-src="assets/images/products/cart-pro-76x76.jpg" alt="image"
                                        title="Donec pede justo fringilla" />
                                </a>
                            </div>
                            <div class="item-info pl-4 text-left d-table-cell align-top">
                                <a href="product-details.html">Donec pede justo fringilla</a>
                                <p class="size-color">Sliver Black/XXL</p>
                                <p class="price">1 x 699.00</p>
                            </div>
                            <div class="item-right cart-remove d-table-cell align-middle">
                                <a class="edit mr-2" href="#"><i class="ti-pencil-alt"></i></a>
                                <a class="remove" href="#"><i class="ti-close"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="minicart-bottom-actions">
                    <div class="pro-totals d-inline-block w-100">
                        <div class="items mb-1 clearfix">
                            <span class="item subtotal float-left">Subtotal:</span>
                            <span class="price-total float-right"><span class="price">1356.00</span></span>
                        </div>
                        <div class="items mb-1 clearfix">
                            <span class="item shipping float-left">Shipping:</span>
                            <span class="price-total float-right"><span class="price">10.00</span></span>
                        </div>
                        <div class="items mb-1 clearfix">
                            <span class="item tax float-left">Tax:</span>
                            <span class="price-total float-right"><span class="price">0.00</span></span>
                        </div>
                        <div class="items clearfix">
                            <span class="item total float-left">Total:</span>
                            <span class="price-total float-right"><span class="price">1366.00</span></span>
                        </div>
                    </div>
                    <div class="actions d-inline-block w-100 text-center">
                        <a class="btn btn-primary d-block mb-4 font-sm-14" href="cart.html">View Cart</a>
                        <a class="btn btn-secondary d-block font-sm-14" href="checkout.html">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Cart Drawer -->

        <!-- Overlay -->
        <div class="overlay"></div>

    </div>
    <!--  End Main Wrapper -->

    <!-- ******** JS Files ******** -->
    {% include 'script.html'%}

</body>

{% endblock%}