<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content=" " />
    <!-- Title -->
    <title>Checkout - Traditional Stuffs</title>
    <!-- Favicon  -->
    <link rel="shortcut icon" href="assets/images/fevicon.png" />

    <!-- *********** CSS Files *********** -->
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css" />
    <!-- Styles CSS -->
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />
</head>

<body class="template-checkout">
    <!--  Start Main Wrapper -->
    <div class="main-wrapper cart-drawer-push">
        <!-- Start Header Section -->
        <header class="header bg-white">
            <div class="container-fluid full-header">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Start Navigation -->
                    <nav class="navigation navbar position-static navbar-expand-lg p-0 w-50">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbar-collapse"><span class="icon ti-menu"></span></button>
                        <div id="navbar-collapse" class="navbar-collapse collapse dual-nav">
                            <a href="#" class="closeNav-btn d-lg-none clearfix" id="closeNav" title="Close"><span
                                    class="menu-close mr-2">Close</span><i class="ti-close" aria-hidden="true"></i></a>
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">HOME</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Feature
                                        <span class="arw plush" title="Click to show/hide"></span>
                                        <span class="lbl hot">Hot</span></a>
                                    <!-- Start Megamenu Style 1 -->
                                    <div class="megamenu submenu style1">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-lg-6">
                                                    <div class="row">
                                                        <div class="megamenu-lvl col-12 col-sm-12 col-lg-4">
                                                            <h3>Categories</h3>
                                                            <ul>
                                                                <li><a class="item" href="#">Collections</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="megamenu-lvl product-col col-12 col-sm-12 col-lg-3">
                                                    <h3>Featured Product</h3>
                                                    <div class="product">
                                                        <a class="pro-img" href="#"><img
                                                                class="img-fluid blur-up lazyload"
                                                                src="assets/images/megamenu/product-1.jpg"
                                                                data-src="assets/images/megamenu/product-1.jpg"
                                                                alt="image"
                                                                title="Naminos elementum disus tincidunts cosmo de cosmopolis" /></a>
                                                        <div class="pro-details">
                                                            <h4><a href="#">Naminos elementum disus
                                                                    tincidunts cosmo de
                                                                    cosmopolis</a></h4>
                                                            <p class="star-rating">
                                                                <i class="spr-icon fa fa-star"></i>
                                                                <i class="spr-icon fa fa-star"></i>
                                                                <i class="spr-icon fa fa-star"></i>
                                                                <i class="spr-icon fa fa-star-o"></i>
                                                                <i class="spr-icon fa fa-star-o"></i>
                                                            </p>
                                                            <p><span class="compare">600.00</span> <span>550.00</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="megamenu-lvl banner-col col-12 col-sm-12 col-lg-3">
                                                    <a href="#"><img class="img-fluid blur-up lazyload"
                                                            src="assets/images/megamenu/image-1.jpg"
                                                            data-src="assets/images/megamenu/image-1.jpg" alt="image"
                                                            title="image" /></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Megamenu Style 1 -->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Shop
                                        <span class="arw plush" title="Click to show/hide"></span>
                                    </a>
                                    <!-- Start Megamenu Style 2 -->
                                    <div class="megamenu submenu style2">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-lg-6">
                                                    <div class="row">
                                                        <div class="megamenu-lvl col-12 col-sm-12 col-lg-4">
                                                            <h3>Shop pages</h3>
                                                            <ul>
                                                                <li><a class="item" href="#">Cart</a></li>
                                                                <li><a class="item" href="#">Checkout</a>
                                                                </li>
                                                                <li><a class="item" href="#">Wishlist</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="megamenu-lvl banner-col col-12 col-sm-12 col-lg-3">
                                                    <div class="row">
                                                        <div class="col-sm-12 img1">
                                                            <a href="#"><img class="img-fluid blur-up lazyload"
                                                                    src="assets/images/megamenu/image-2.jpg"
                                                                    data-src="assets/images/megamenu/image-2.jpg"
                                                                    alt="image" title="image" /></a>
                                                        </div>
                                                        <div class="col-sm-12 img2">
                                                            <a href="#"><img class="img-fluid blur-up lazyload"
                                                                    src="assets/images/megamenu/image-2.jpg"
                                                                    data-src="assets/images/megamenu/image-2.jpg"
                                                                    alt="image" title="image" /></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="megamenu-lvl banner-col col-12 col-sm-12 col-lg-3">
                                                    <a href="#"><img class="img-fluid blur-up lazyload"
                                                            src="assets/images/megamenu/image-1.jpg"
                                                            data-src="assets/images/megamenu/image-1.jpg" alt="image"
                                                            title="image" /></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Megamenu Style 2 -->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Products
                                        <span class="arw plush" title="Click to show/hide"></span>
                                        <span class="lbl new">New</span>
                                    </a>
                                    <!-- Start Megamenu Style 3 -->
                                    <div class="megamenu submenu style3">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="megamenu-lvl col-12 col-sm-12 col-lg-3">
                                                            <h3>New Arrival</h3>
                                                            <ul>
                                                                <li class="item-img"><a href="#" class="img"><img
                                                                            class="img-fluid blur-up lazyload"
                                                                            src="assets/images/megamenu/image-3.jpg"
                                                                            data-src="assets/images/megamenu/image-3.jpg"
                                                                            alt="image" title="image" /></a></li>
                                                                <li><a class="item" href="#">Collections Pages</a></li>
                                                                <li><a class="item" href="#">Shop pages</a></li>
                                                                <li><a class="item" href="#">Product pages</a></li>
                                                                <li><a class="item" href="#">Blog Pages</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="megamenu-lvl col-12 col-sm-12 col-lg-3">
                                                            <h3>Tires Manufacturing</h3>
                                                            <ul>
                                                                <li class="item-img"><a href="#" class="img"><img
                                                                            class="img-fluid blur-up lazyload"
                                                                            src="assets/images/megamenu/image-3.jpg"
                                                                            data-src="assets/images/megamenu/image-3.jpg"
                                                                            alt="image" title="image" /></a></li>
                                                                <li><a class="item" href="#">Login</a></li>
                                                                <li><a class="item" href="#">Register</a></li>
                                                                <li><a class="item" href="#">My Wishlist</a></li>
                                                                <li><a class="item" href="#">Shopping Cart</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="megamenu-lvl col-12 col-sm-12 col-lg-3">
                                                            <h3>Electrical system</h3>
                                                            <ul>
                                                                <li class="item-img"><a href="#" class="img"><img
                                                                            class="img-fluid blur-up lazyload"
                                                                            src="assets/images/megamenu/image-3.jpg"
                                                                            data-src="assets/images/megamenu/image-3.jpg"
                                                                            alt="image" title="image" /></a></li>
                                                                <li><a class="item" href="#">Our Store</a></li>
                                                                <li><a class="item" href="#">Company Info</a></li>
                                                                <li><a class="item" href="#">Favorites</a></li>
                                                                <li><a class="item" href="#">Private Policy</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="megamenu-lvl col-12 col-sm-12 col-lg-3">
                                                            <h3>Other components</h3>
                                                            <ul>
                                                                <li class="item-img"><a href="#" class="img"><img
                                                                            class="img-fluid blur-up lazyload"
                                                                            src="assets/images/megamenu/image-3.jpg"
                                                                            data-src="assets/images/megamenu/image-3.jpg"
                                                                            alt="image" title="image" /></a></li>
                                                                <li><a class="item" href="#">Order Status</a></li>
                                                                <li><a class="item" href="#">Shipping & Returns</a></li>
                                                                <li><a class="item" href="#">Shipping & Deliveries</a>
                                                                </li>
                                                                <li><a class="item" href="#">Terms & Conditions</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Megamenu Style 3 -->
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">Pages
                                        <span class="arw plush" title="Click to show/hide"></span>
                                    </a>
                                    <!-- Start Megamenu Dropdown -->
                                    <div class="megamenu submenu dropdown">
                                        <ul>
                                            <li><a class="item" href="#">About Us</a></li>
                                            <li><a class="item" href="#">FAQ's</a></li>
                                            <li><a class="item" href="#">Contact Us</a></li>
                                            <li><a class="item" href="#">Coming Soon</a></li>
                                            <li><a class="item" href="#">Order Tracking</a></li>
                                            <li><a class="item" href="#">Compare</a></li>
                                            <li class="dropmenu">
                                                <a class="item" href="#">My Account <span class="arw plush"
                                                        title="Click to show/hide"></span></a>
                                                <ul class="droplink submenu1">
                                                    <li><a class="item" href="#">My Account</a></li>
                                                    <li><a class="item" href="#">Login</a></li>
                                                    <li><a class="item" href="#">Register</a></li>
                                                    <li><a class="item" href="#">Forgot Password</a></li>
                                                    <li><a class="item" href="#">Change Password</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropmenu">
                                                <a class="item" href="#">Wishlist <span class="arw plush"
                                                        title="Click to show/hide"></span></a>
                                                <ul class="droplink submenu1">
                                                    <li><a class="item" href="#">Wishlist Login</a></li>
                                                    <li><a class="item" href="#">Wishlist</a></li>
                                                    <li><a class="item" href="#">Empty Wishlist</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropmenu">
                                                <a class="item" href="#">Cart <span class="arw plush"
                                                        title="Click to show/hide"></span></a>
                                                <ul class="droplink submenu1">
                                                    <li><a class="item" href="#">Cart</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropmenu">
                                                <a class="item" href="#">Checkout <span class="arw plush"
                                                        title="Click to show/hide"></span></a>
                                                <ul class="droplink submenu1">
                                                    <li><a class="item" href="#">Checkout</a></li>
                                                    <li><a class="item" href="#">Checkout Success</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropmenu">
                                                <a class="item" href="#">Empty Pages <span class="arw plush"
                                                        title="Click to show/hide"></span></a>
                                                <ul class="droplink submenu1">
                                                    <li><a class="item" href="#">Empty Cart</a></li>
                                                    <li><a class="item" href="#">Empty Category</a></li>
                                                    <li><a class="item" href="#">Empty Compare</a></li>
                                                    <li><a class="item" href="#">Empty Search</a></li>
                                                    <li><a class="item" href="#">Empty Wishlist</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End Megamenu Dropdown -->
                                </li>

                            </ul>
                        </div>
                    </nav>
                    <!-- Start Navigation -->
                    <!-- Start Logo -->
                    <div class="navbar-brand logo mx-auto p-0 text-center">
                        <a href="index.html" class="logo-img">LOGO</a>
                    </div>
                    <!-- End Logo -->
                    <!-- Start Right Menu -->
                    <div class="w-50 right-side">
                        <!-- Start Minicart -->
                        <div class="minicart float-right">
                            <a href="#" class="cart-btn" title="Cart" data-toggle="modal" data-target="#mycartdrawer">
                                <i class="icon ti-shopping-cart"></i>
                                <div class="cart-count">
                                    <span id="count">4</span>
                                </div>
                            </a>
                        </div>
                        <!-- End Minicart -->

                    </div>
                    <!-- End Right Menu -->
                </div>
            </div>
        </header>
        <!-- End Header Section -->

        <!-- Start Main Content -->
        <main class="main-content">
            <!-- Start Breadcrumb -->
            <div class="breadcrumbs text-center">
                <div class="container">
                    <h1>Checkout</h1>
                </div>
            </div>
            <!-- End Breadcrumb -->

            <!-- Start checkout -->
            <div class="checkout-content">
                <div class="container">

                    <!-- Start Checkout Content -->
                    <div class="row">
                        <!-- Start Checkout Form -->
                        <div class="checkout-form col-12 col-sm-12 col-lg-8 mb-5 mb-lg-0 sidebar-left">
                            <!-- Start Shipping Form -->
                            <form action="#" class="shiping-form needs-validation" novalidate>
                                <div class="card rounded-0">
                                    <div class="card-header rounded-0">Shipping Address</div>
                                    <div class="card-body">
                                        <div class="row form-group mb-0">
                                            <div class="col-12 col-sm-6 col-md-6 mb-4">
                                                <label>First Name: *</label>
                                                <input type="text" name="first-name" class="form-control" placeholder=""
                                                    required />
                                                <div class="invalid-feedback">Please enter your first name.</div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 mb-4">
                                                <label>Last Name: *</label>
                                                <input type="text" name="last-name" class="form-control" placeholder=""
                                                    required />
                                                <div class="invalid-feedback">Please enter your last name.</div>
                                            </div>
                                        </div>
                                        <div class="row form-group mb-0">
                                            <div class="col-12 col-sm-12 col-md-12 mb-4">
                                                <label>Address: *</label>
                                                <textarea class="form-control" name="address" rows="1" placeholder=""
                                                    required></textarea>
                                                <div class="invalid-feedback">Please enter your address.</div>
                                            </div>
                                        </div>

                                        <div class="row form-group mb-0">
                                            <div class="col-12 col-sm-6 col-md-6 mb-4">
                                                <label>City: *</label>
                                                <input type="text" name="phone-number" class="form-control"
                                                    placeholder="enter City" required />
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 mb-4">
                                                <label>Zip / Postal Code: *</label>
                                                <input type="text" name="zip-code" class="form-control" placeholder=""
                                                    required />
                                                <div class="invalid-feedback">Please enter your zip/postal code.</div>
                                            </div>
                                        </div>
                                        <div class="row form-group mb-0">
                                            <div class="col-12 col-sm-6 col-md-6 mb-4">
                                                <label>Phone Number: *</label>
                                                <input type="text" name="phone-number" class="form-control"
                                                    placeholder="" required />
                                                <div class="invalid-feedback">Please enter your phone number.</div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 mb-4">
                                                <label>Email Address: *</label>
                                                <input type="email" name="email-address" class="form-control"
                                                    placeholder="" required />
                                                <div class="invalid-feedback">Please enter your email.</div>
                                            </div>
                                        </div>


                                        <div class="row form-group mb-0">
                                            <div class="col-12 col-sm-12 col-md-12">
                                                <label>Order Notes:</label>
                                                <textarea class="form-control" rows="3" placeholder=""></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- End Shipping Form -->
                        </div>
                        <!-- End Checkout Form -->

                        <!-- Start Cart Order -->
                        <div class="checkout-order col-12 col-sm-12 col-lg-4 sidebar sidebar-right">
                            <h3>Review Order</h3>
                            <!-- Start Order Cart Table -->
                            <div class="table-content table-responsive mb-4">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center"><b>Product</b></th>
                                            <th class="text-left"></th>
                                            <th class="text-center"><b>Price</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="pro-img text-center"><a href="#"><img
                                                        class="img-fluid blur-up lazyload"
                                                        src="assets/images/products/product-60x60.jpg"
                                                        data-src="assets/images/products/product-60x60.jpg" alt="image"
                                                        title="image" width="60" /></a></td>
                                            <td class="pro-del text-left">
                                                <p class="mb-1 pro-name">Donec pede justo fringilla</p>
                                                <p class="mb-1">Quantity: 2</p>
                                            </td>
                                            <td class="pro-price text-center">376.00</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" colspan="2"><b>Subtotal:</b></td>
                                            <td class="text-center font-14"><strong>529.15</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" colspan="2"><b>Total:</b></td>
                                            <td class="text-center font-14"><strong>529.15</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- End Order Cart Table -->

                            <!-- Start Payment Method -->
                            <div class="payment-method accordion" id="payment-method">
                                <!-- Start Cash on delivery -->
                                <div class="card border-0 rounded-0 mb-3">
                                    <div class="card-header border-0 rounded-0 p-0 bg-white" id="payment-One1">
                                        <div class="form-check" role="tablist" data-toggle="collapse"
                                            data-target="#paymentOne" aria-expanded="true" aria-controls="paymentOne">
                                            <input class="form-check-input" type="radio" name="paymentRadio"
                                                id="paymentRadio1" checked />
                                            <label class="form-check-label w-100 ml-3" for="paymentRadio1">Cash on
                                                delivery</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Cash on delivery -->
                            </div>
                            <!-- End Payment Method -->

                            <div class="form-group mt-5">
                                <a href="checkout-success.html"
                                    class="btn btn-primary btn-lg btn-block place-order-btn">Place order</a>
                            </div>
                        </div>
                        <!-- End Cart Order -->
                    </div>
                    <!-- End Checkout Content -->
                </div>
            </div>
            <!-- End checkout -->
        </main>
        <!-- End Main Content -->

        <!-- Start Footer Section -->
        <footer class="footer">
            <div class="footer-top clearfix">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 logo-wellcome">
                            <div class="ftr-logo">
                                <a href="index.html">LOGO</a>
                            </div>
                            <div class="social-icons">
                                <ul class="d-flex flex-row align-items-center text-center">
                                    <li><a href="#" title="Facebook"><i class="icon ti-facebook"></i></a></li>
                                    <li><a href="#" title="Twitter"><i class="icon ti-twitter"></i></a></li>
                                    <li><a href="#" title="Instagram"><i class="icon ti-instagram"></i></a></li>
                                    <li><a href="#" title="Google Plus"><i class="icon ti-google"></i></a></li>
                                    <li><a href="#" title="Youtube"><i class="icon ti-youtube"></i></a></li>
                                    <li><a href="#" title="Vimeo"><i class="icon ti-vimeo"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-9 newsletter-menulinks">
                            <div class="row no-gutters footer-newsletter">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    <h3>Sign up to our Newsletter and receive 10% off your first order!</h3>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    <form action="#" class="needs-validation" method="post">
                                        <div class="form-group m-0 position-relative">
                                            <input type="text" class="form-control"
                                                placeholder="Enter your email address..." required />
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-paper-plane-o"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row no-gutters footer-links">
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 menu-items">
                                    <h4>Quick Link</h4>
                                    <ul class="linklist">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="about-us.html">About us</a></li>
                                        <li><a href="faqs.html">FAQs</a></li>
                                        <li><a href="contact-us.html">Contact</a></li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 menu-items">
                                    <h4>Help Link</h4>
                                    <ul class="linklist">
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="wishlist.html">My Wishlist</a></li>
                                        <li><a href="order-tracking.html">Order Traking</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="terms-and-conditions.html">Terms & Conditions</a></li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 menu-items">
                                    <h4>Custom Link</h4>
                                    <ul class="linklist">
                                        <li><a href="#">Shop</a></li>
                                        <li><a href="#">Delivery</a></li>
                                        <li><a href="#">Refunds</a></li>
                                        <li><a href="#">Help & support</a></li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact">
                                    <h4>Contact Information</h4>
                                    <ul class="linklist contact-info d-flex flex-column">
                                        <li><i class="icon ti-location-pin"></i><span>No 40 Baria Street 133/2,
                                                <br />NewYork, USA</span></li>
                                        <li><i class="icon fa fa-phone"></i><a href="tel:+011234567890">(+01) 123 456
                                                7890</a></li>
                                        <li><i class="icon ti-email"></i><a
                                                href="mailto:info@example.com">info@example.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Section -->

        <!-- Start Scroll Top -->
        <div id="scrollTop"><i class="ti-arrow-up"></i></div>
        <!-- End Scroll Top -->

        <!-- Start Cart Drawer -->
        <div class="minicart-wrapper">
            <div class="cart-drawer model fade right show cart-drawer-right">
                <div class="minicart-head">
                    <h3>Shopping Cart</h3>
                    <a class="close-btn active">
                        <i class="ti-close"></i>
                    </a>
                </div>
                <div class="minicart-details">
                    <div class="empty-cart">
                        <p>You have no items in your shopping cart.</p>
                    </div>
                    <ul class="cart-lists clearfix">
                        <!-- List of Products added to CART -->
                        <li class="cart-item d-table">
                            <div class="pro-img d-table-cell align-middle">
                                <a href="product-details.html">
                                    <img class="img-fluid blur-up lazyload"
                                        src="assets/images/products/cart-pro-76x76.jpg"
                                        data-src="assets/images/products/cart-pro-76x76.jpg" alt="image"
                                        title="Donec pede justo fringilla" />
                                </a>
                            </div>
                            <div class="item-info pl-4 text-left d-table-cell align-top">
                                <a href="product-details.html">Donec pede justo fringilla</a>
                                <p class="size-color">Sliver Black/XXL</p>
                                <p class="price">1 x 699.00</p>
                            </div>
                            <div class="item-right cart-remove d-table-cell align-middle">
                                <a class="edit mr-2" href="#"><i class="ti-pencil-alt"></i></a>
                                <a class="remove" href="#"><i class="ti-close"></i></a>
                            </div>
                        </li>
                        
                    </ul>
                </div>

                <div class="minicart-bottom-actions">
                    <div class="pro-totals d-inline-block w-100">
                        <div class="items mb-1 clearfix">
                            <span class="item subtotal float-left">Subtotal:</span>
                            <span class="price-total float-right"><span class="price">1356.00</span></span>
                        </div>
                        <div class="items mb-1 clearfix">
                            <span class="item shipping float-left">Shipping:</span>
                            <span class="price-total float-right"><span class="price">10.00</span></span>
                        </div>
                        <div class="items mb-1 clearfix">
                            <span class="item tax float-left">Tax:</span>
                            <span class="price-total float-right"><span class="price">0.00</span></span>
                        </div>
                        <div class="items clearfix">
                            <span class="item total float-left">Total:</span>
                            <span class="price-total float-right"><span class="price">1366.00</span></span>
                        </div>
                    </div>
                    <div class="actions d-inline-block w-100 text-center">
                        <a class="btn btn-primary d-block mb-4 font-sm-14" href="cart.html">View Cart</a>
                        <a class="btn btn-secondary d-block font-sm-14" href="checkout.html">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Cart Drawer -->

        <!-- Overlay -->
        <div class="overlay"></div>
    </div>
    <!--  End Main Wrapper -->

    <!-- ******** JS Files ******** -->
    <!-- Plugin JS -->
    <script src="assets/js/plugins.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

</body>

</html>